{
    "male_host_name": "Brian",
    "female_host_name": "Julia",

    "male_host_voice": "Daniel",
    "female_host_voice": "Sarah",

    "station_name": "AI Radio",

    "output_device": 6,

    "groq_api_key": "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",
    "elevenlabs_api_key": "sk_2662486df48e28d04d8e8822db51b5dad44c4c9139f5c550",
    
    "genres": [
        "Pop",
        "HipHop",
        "Rock",
        "R&B",
        "EDM",
        "Country",
        "Latin",
        "Jazz",
        "Alternative",
        "Classical",
        "Metal",
        "Folk",
        "Blues",
        "Reggae",
        "Soul",
        "Indie",
        "Gospel",
        "Punk",
        "Funk",
        "K-pop",
        "House",
        "Techno",
        "Ambient",
        "Trap",
        "Disco",
        "Lo-fi",
        "Opera",
        "Bluegrass",
        "Reggaeton",
        "World_Music"
    ]
}